# Módulos de Node
node_modules/

# Variables sensibles
.env
.env.local
.env.test

# Archivos de log o temporales
*.log
.DS_Store
*.sqlite
npm-debug.log*
yarn-error.log*

# Directorios de build
/dist
/build

# Opcional para VSCode
.vscode/

# Archivos generados por Prisma
/prisma/dev.db
/node_modules/.prisma/client